<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap_themes %}
{% bootstrap_styles theme='default' type='min.css' %}
{% bootstrap_styles theme='cosmo' type='css' %}
{% bootstrap_styles theme='united' type='less' %}
<html>
<head>
<title>BetSoccer</title>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/bolao.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">


	<link rel="stylesheet" href="{% static 'css/style.css' %}">


<!---- start-smoth-scrolling---->

<!---- start-smoth-scrolling---->
</head>
<body>
	<div class="head" id="home">
		<div class="container">
			<div class="logo">
				BetSoccer
			</div>

			<div class="header">
				<div class="menu">

					<ul class="nav" id="nav">
						<li><a href="/">Página Inicial</a></li>
						<li><a href="admin/">Painel do Administrador </a></li>


					</ul>

		<!----//End-top-nav-script---->
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="banner">
	    <div class="banner-text">
	    	<div class="container">
				<h1>BetSoccer</h1>
				<p>Onde seu palpite vale muito!</p>
				<form class="form-signin" id="loginForm" action="/login/" method="POST" ajax="false">
					<input type="text" class="form-control" name="username" placeholder="Username" required autofocus>
					<input type="password" class="form-control" name="password" placeholder="Password" required>
					<button class="btn btn-lg btn-primary btn-block" id="submitLogin" type="submit" >
						Sign in
					</button>
					 {% csrf_token %}
				</form>
			 </div>
		</div>
	</div>
	<!--start-website-->
	<!--Responsive-tabs-Starts-Here-->
	</div>
	<div class="website">
		<p id="top-web">Últimos Resultados</p>
		{% for match in matchResult %}
			<div class="jogos">
				<p id="jogo">{{match.game.homeTeam}}: {{match.homeScore}} X {{match.visitorScore}} {{match.game.visitorTeam}}</p>
			</div>
		{% endfor %}



	</div>
	<!--end-website-->

	<!--start-footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-main">
				<h3>Solicite seu acesso!</h3>
				<div class="footer-bottom">
					<div class="col-md-4 footer-bottom-left">

					</div>
					<div class="col-md-8 footer-bottom-right">
						<small>Escreva seu Email aqui</small>
						<div class="contact-text">
							<input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}"/>
							<input type="submit" value="ENVIAR" >
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="ftr">
						<p>DESIGN BY BETSOCCER TEAM</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end-footer-->
</body>
</html>