<!DOCTYPE html>
<html>
{% load staticfiles %}
{% load bootstrap_themes %}
{% bootstrap_styles theme='default' type='min.css' %}
{% bootstrap_styles theme='cosmo' type='css' %}
{% bootstrap_styles theme='united' type='less' %}

<head>
<title>BetSoccer</title>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/bolao.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/common.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<script src="js/jquery-1.11.0.min.js"></script>

</head>
<body class="bodyAll">
	<div class="head" id="home">
		<div class="container">
			<div class="logo">
				BetSoccer
			</div>

			<div class="header">
				<div class="menu">

					<ul class="nav" id="nav">
						<li><a href="/">Página Inicial</a></li>
						<li><a href="/admin/">Painel do Administrador </a></li>
                        <div id="loginInfo">
                        <p id="login-Name">Login: {{user}}</p>
                        <p id="login-Credit">Crédito disponível: {{credito}}</p>
                        </div>
					</ul>

		<!----//End-top-nav-script---->
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

    <div class="site">
   {% load staticfiles %}
    <div class="banner">
	    <div class="banner-text">
	    	<div class="container">
				<h1>BetSoccer</h1>
				<p>Onde seu palpite vale muito!</p>
			 </div>
		</div>
	</div>

<!-- Glucose Data Table -->
    <center><h1>Jogos</h1></center>
  <div class="panel panel-default">

    <div class="panel-body">
      <table id="apostar-table" class="display responsive" width="100%">

        <thead>
          <tr>
            <th class="tbIds"><center>#</center></th>
            <th class="tbTime1"><center>Time</center></th>
            <th class="tbTime2"><center>Time</center></th>
            <th class="tbData"><center>Data</center></th>
            <th class="tbHora"><center>Hora</center></th>
            <th class="scoreTime1"><center>Placar</center></th>
            <th class="tbApostar"><center>Apostar</center></th>
            <th class="all"></th>
          </tr>
         <tr>

            <th class="all">
                <center>
                    {% for match in registerBet %}
                        <p id="Id">{{match.id}}</p>
                    {% endfor %}
                </center>
            </th>

             <th class="all">
                <center>
                    {% for match in registerBet %}
                        <p id="time1">
                            {{match.homeTeam}}
                        </p>
                    {% endfor %}
                </center>
            </th>

             <th class="all">
                <center>
                    {% for match in registerBet %}
                        <p id="time2">{{match.visitorTeam}}</p>
                    {% endfor %}
                </center>
            </th>


            </th>

              <th class="all">
                <center>
                    {% for match in registerBet %}
                        <p id="data">{{match.date}}</p>
                    {% endfor %}
                </center>
            </th>
             <th class="all">
                <center>
                    {% for match in registerBet %}
                        <p id="hora">{{match.hora}}</p>
                    {% endfor %}
                </center>
            </th>
            <form action="/apostar/" method="POST">
            <th>

                <center>

                    {% for match in registerBet %}
                        <p id="placar">
                           <span>
                             <input type="text" name="homeScore{{ match.id }}" value="" style="width: 30px;"/>X<input  type="text" name="visitorScore{{ match.id }}" value=""  style="width: 30px;"/>
                            </span>
                        </p>
                    {% endfor %}

                </center>

            </th>
            <th>
            <center>

                    {% for match in registerBet %}
                        <input type="text" value={{credito}} name="login-Credito" hidden="true"/><input type="text" value={{user}} name="user-Credito"hidden="true" />

                       <button class="apostar" id="submitAposta" value={{match.id}} name="match-id"  type="submit">
                            Apostar
                            {% csrf_token %}
                       </button>
                    {{ match.message }}
                    <br/>
                    {% endfor %}


                </center>
            </form>
            </th>


          </tr>
        </thead>
      </table>

  </div>

<!-- End Glucose Data Table -->

    </div>
    <div>
        <table id="ranking-table"class="display responsive" width="100%">
            <center><h1>Ranking</h1></center>
            <thead>
                <tr>
                    <th class="tb1"><center>Posição</center></th>
                    <th class="tb2"><center>Usuário</center></th>
                    <th class="tb3"><center>Créditos</center></th>
                </tr>
                <tr>
                    <th class="tbPos">
                        <center>
                            {% for rnk in ranking %}
                                <p>{{rnk.position}}</p>
                            {% endfor %}
                        </center>
                    </th>
                    <th class="tbUser">
                        <center>
                            {% for rnk in ranking %}
                                <p>{{rnk.user.login}}</p>
                            {% endfor %}
                        </center>
                    </th>
                    <th class="tbCred">
                        <center>
                            {% for rnk in ranking %}
                                <p>{{rnk.user.credits}}</p>
                            {% endfor %}
                        </center>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
        </div>

<div class="footer">
		<div class="container">
			<div class="footer-jogos">
                <div class="ftr">
						<p>DESIGN BY BETSOCCER TEAM</p>
					</div>
				</div>

					</div>
					<div class="clearfix"></div>

			</div>
		</div>
	</div>
</body>
</html>