<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap_themes %}
{% bootstrap_styles theme='default' type='min.css' %}
{% bootstrap_styles theme='cosmo' type='css' %}
{% bootstrap_styles theme='united' type='less' %}
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/bolao.css' %}">
    <meta charset="UTF-8">
    <title>BetSoccer</title>
</head>
<body>
<div class="header">
    <h1><a href="/">BetSoccer</a></h1>
</div>
{% for match in match %}
    <div class="jogos">
        <p id="jogo">{{match.homeTeam}}: {{match.homeScore}} X {{match.visitorScore}} {{match.visitorTeam}}</p>
    </div>
{% endfor %}
</body>
</html>